body {
  background-color: var(--background-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Higher z-index than navbar */
  padding: 10px;
}

.copyright {
  color: white;
  margin-left: 20px; /* Add some margin to position it better */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optional: Add shadow to make text more readable */
}
