.app-container {
  display: flex;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  float: left;
  height: 100vh;
  margin: 0;
  width: 200px;
  background-color: #333;
  color: white;
  position: relative;
  z-index: 20;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
}

.app-title {
  color: white;
  font-size: 1.4rem;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  display: block;
  gap: 15px;
  padding: 15px;
  margin: 0;
  width: 100%;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.nav-links input {
  display: flex;
  width: 80%;
  font-size: 1.4rem;
}

.nav-links li {
  margin-bottom: 25px;
}

.nav-links li a:hover {
  color: #f00000;
}

.nav-links button {
  cursor: pointer;
  pointer-events: auto;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 200px;
  transition: margin-left 0.3s ease;
}

.main-content.with-section-open {
  margin-left: 500px; /* Navbar (200px) + Playlist section (300px) */
  transition: margin 0.3s ease;
}

.playlist-toggle, .queue-toggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.4rem; /* Slightly smaller */
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0;
  position: relative;
  z-index: 50;
  pointer-events: auto !important;
}

.playlist-toggle:hover, .queue-toggle:hover {
  color: #f00000;
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    display: none; /* Initially hidden for smaller screens */
  }

  .nav-links.active {
    display: flex; /* Show links when toggled */
  }
  
  .main-content.with-section-open {
    margin-left: 200px;
  }
  
  .playlist-section {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 200;
  }
}

.songUI-container {
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .with-section-open {
    margin-right: 0;
  }
  
  .queue-panel,
  .playlist-section {
    width: 100%;
    z-index: 1001;
  }
}