.search-results-container{
    height: 100vh;
    overflow-y: scroll;
    padding-left: 0px;
    position: fixed;
    width: 20%;
    left: 40%;
    align-items: center;
    text-align: center;


}

.track-item{
    max-width: 100%;
}