.search-results-container{
    height: 100vh;
    overflow-y: scroll;
    padding-left: 0px;
    position: fixed;
    width: 20%;
    left: 40%;
    align-items: center;
    text-align: center;
}

.track-item{
    max-width: 100%;
}

.add-to-playlist-button, .play-song-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.add-to-playlist-button, .add-to-queue-button{
    margin-top: 15px;
    font-size: 1rem;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(132, 132, 132);
    border-radius: 9px;
    border: none;
    width: 120px;
}

.add-to-playlist-button:hover, .add-to-queue-button:hover{
    color: purple;
}

.play-song-button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    position: relative;
    left: 5px;
  }
.play-song-button:hover{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid purple;
    position: relative;
    left: 5px;
}