div .container{
    height: 95vh;
    width: 100vh;
    float: right;
}

div .song{
    background-color: #484848;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    float: top;
    text-align: center;
}

.play-button, .pause-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-button::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    position: relative;
    left: 5px;
  }
  
  .pause-button::before, .pause-button::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 40px;
    background-color: black;
  }
  
  .pause-button {
    gap: 10px;
  }

.song h2{
    float: bottom;
}

div .queue{
    font-size: .5rem;
    float: top;
    margin: 0 auto;
    background-color: #484848;
    max-width: 50%;
    max-height: 15%;
    text-align: left;
}

img{
    margin: 0 auto;
    max-width: 50%;
    max-height: 50%;
}