.theme-default{
    --primary-color: rgb(42, 40, 40); --secondary-color: #858484; --text-color: black; --background-color: #333333; --accent-color: grey;
    --navbar-bg: rgb(12, 10, 10); --navbar-text: rgb(212, 201, 201); --player-bg:grey; --player-control: red; --search-bg: white; --button-hover: blue; 
}
.theme-dark{
    --primary-color: #2c3e50; --secondary-color: rgb(83, 79, 79); --text-color: green; --background-color: #1a1a1a; --accent-color: black;
    --navbar-bg: black; --navbar-text: blue; --player-bg: yellow; --player-control: white; --search-bg: white; --button-hover: red;
}
.theme-lemon{
    --primary-color: yellow; --secondary-color: lightyellow; --text-color: black; --background-color: yellow; --accent-color: #f39c12;
    --navbar-bg: rgb(255, 255, 157); --navbar-text: black; --player-bg: rgb(253, 253, 223); --player-control: black; --search-bg: beige; --button-hover: lightyellow;
}
.theme-bloodorange{
    --primary-color: rgb(255, 115, 0); --secondary-color: rgb(232, 29, 11); --text-color: black; --background-color: rgb(255, 77, 0); --accent-color: red;
    --navbar-bg: rgb(244, 64, 40); --navbar-text: black; --player-bg: rgb(255, 132, 0); --search-bg: white; --button-hover: red;
}
.theme-rose{
    --primary-color: pink; --secondary-color: #CC8899; --text-color: black; --background-color: #B57281; --accent-color: pink; 
    --navbar-bg: rgb(144, 103, 110); --navbar-text: white; --search-bg: rgb(251, 247, 248);  
}
.theme-velvetred{
    --primary-color: darkred; --secondary-color: maroon; --text-color: black; --background-color: #900D09; --accent-color: beige;
    --navbar-bg: red; --navbar-text: beige;
}
.theme-purplerain{
    --primary-color: indigo; --secondary-color: purple; --text-color: linear-gradient(to right, blue, black); --background-color: indigo; --accent-color: linear-gradient(to right, blue, black);
}
.theme-midnightblue{
    --primary-color: #010445; --secondary-color: #040457; --text-color: linear-gradient(to right, grey, black); --background-color: #02044A; --accent-color: #040457;
}
.theme-greenleaf{
    --primary-color: darkgreen; --secondary-color: green; --text-color: linear-gradient(to right, brown, black); --background-color: darkgreen; --accent-color: green;
}
.theme-light{
    --primary-color: #ffffff; --secondary-color: #bdc3c7; --text-color: linear-gradient(to right, lightgrey, black); --background-color: white; --accent-color: lightgrey;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar{
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
}
.app-container button {
    background-color: transparent;
    color: var(--navbar-text);
}
.app-container button:hover{
    background-color: var(--button-hover);
}

input[type="text"]{
    background-color: var(--search-bg);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
}

.songUI-container{
    background-color: var(--player-bg);
    color: var(--text-color);
}